body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  color: #37251b;
}

a {
  text-decoration: none;
  color: #37251b;
}

a:after {
  color: #37251b;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

.section-header {
  font-size: 3rem;
}

.testimonial-link {
  font-weight: normal;
  font-size: 2rem;
  width: 25rem;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
  color: rgb(232, 224, 207);
  background-color: #37251b;
  border-radius: 20px;
}

header {
  background-color: floralwhite;
  display: flex;
  height: 3rem;
  padding-left: 2rem;
  padding-top: 0.6rem;
  justify-content: space-between;
  border-bottom: 1px solid #37251b;
  align-items: center;
  width: 100vw;
  position: fixed;
 
  
}

.coffee-title {
  font-size: 2rem;
  font-style: italic;
  text-decoration: wavy underline 1px #37251b;
}

nav {
  font-size: 1.6rem;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  
}

.container {
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #37251b;
  padding: 66px;
  padding-top: 90px;
  height:fit-content;
}

.container2 {
  background-color: rgb(232, 224, 207);
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #37251b;
  padding: 2rem;
}

.container3 {
  background-color: rgb(254, 243, 220);
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  padding-bottom: 0;
}

.coffee {

  width: 280px;
  margin-left: 10px;
  margin-top: 60px;
  margin-bottom: 60px;

}

p, button {
  margin: 0;
}

.faq {
  margin-bottom: 3rem;
}

.faq-div {
  margin-top: 3rem;
  width: 100vw;
  border-top: 1px solid #37251b;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(254, 243, 220);
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #37251b;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #37251b;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: floralwhite;
}

.active {
  border-bottom: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 30px;
  background-color: rgb(254, 243, 220);
  color: #37251b;
  font-size: 1.6rem;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid #37251b;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1.8rem;
  color: #37251b;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.featured-in {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 189, 174);
}

.logos {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.nyt {
  filter: invert(12%) sepia(15%) saturate(1707%) hue-rotate(337deg) brightness(97%) contrast(89%);
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: floralwhite;
  color: #37251b;
  font-size: 1.2rem;
  padding: 0.6rem;
}

.social {
  padding-left: 3rem;
}